.border {
    border: 1px solid #ff0000;
}

.clear {
    clear:both;
}

html, body {
    font-family: sans-serif;
    margin: 0;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.nav.has-shadow {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.nav,
.nav-menu {
    background: #ffffff;
}

.nav-menu {
    text-transform: capitalize;
}

.nav-adjustment {
    padding: 70px 0 0 0;
}

.nice-title {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.links > a {
    padding: 0 25px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-decoration: none;
    text-transform: uppercase;
}

a {
    color: #0099cc;
    border: 0 solid #000000;
    text-decoration: none;
}

a:hover {
    color: #c40000;
}

.bold-text {
    font-weight: 700;
}

.weather-icon {
    border: 0 solid #ffffff;
    float: right;
    margin: 5px;
}

.tag {
    margin: 5px 10px 0 0;
    padding: 10px;
}
